/* .container {
  /* background-color: ; 
}

.row2{
    border: 5px red;

}

.col2{
    border: 5px black dotted;
}*/
.col h2 {
  text-align: left;
  /* border: auto; */
}

  /* border: auto; */


/* .col {
  /* border: 5px black double; */

/* .hello1 { */
/* color: rgba(0, 0, 0, 0, 7); */
/* } */

/* .bg-image {
  background-image: url(/images/back.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */
