.proj_info{
    border: 1px solid black;
}
<<<<<<< HEAD
.footer{


    
    
    position: absolute;
    top: 100vh;
    left: 0;
    height: 35vh;
    width: 100%;
    padding: 50px;
}
.footer-link-container{

    list-style: none;
    



}

.footer-link-container li a{
    
    
=======

a{
    color: black;
>>>>>>> 572ebdf9d030a0b81c27e18e8468d2284b4d18a1
    text-decoration: none;
}
