
.signup1{

    
    border-radius: 8px 0px 0px 8px;
    padding: 30px;
    background-color: white;

}

.row{
<<<<<<< HEAD
=======
    
    border: 2px solid black;
>>>>>>> ec68c9f2d4b677abc709a42f6d27541901418b60
    border-radius: 5px;
    width:auto;
    padding: 0;
}

.signup{
<<<<<<< HEAD
=======
    border: solid black 2px;
>>>>>>> ec68c9f2d4b677abc709a42f6d27541901418b60
    margin-top: 0px;
    height: 100vh;
    width: 60vw;
    
}


body{
    
    background-color: #fff;
}

.signup-img{
    background-image: url(./images/signupimg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

