body{
    font-size: 1.3rem;
    
}

.navbar-brand{
    font-size: 2.3rem;
    color: white!important;
}
.navbar{
    background-image: linear-gradient(to bottom ,rgba(0,0,0,1) ,rgba(0,0,0,0));
    
    z-index: 100;
}

.nav-item{
    margin-left: 2.3em;
    color: white!important;
}
.nav-link{
    color: white!important;
}

.colour1{
    background-color: #3c97a1;
}



.signup1{

    
    border-radius: 8px 0px 0px 8px;
    padding: 30px;
    background-color: white;

}

.row{
    
    
    border-radius: 5px;
    width:auto;
    padding: 0;
}

.signup{
    border: solid black 2px;
    margin-top: 0px;
    height: 100vh;
    width: 60vw;
    
}


body{
    
    background-color: #fff;
}

.signup-img{
    background-image: url(./images/signupimg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}




.colour2{
    background-color: #89aeb2;
}
.colour3{
    background-color: #D4ccbb;
}
.colour4{
    background-color: #Fc6d6d;
}
.font{
    font-family: 'Fira Sans', sans-serif;
}

    

.section2{
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url("./images/4567334.jpg");
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

    
.footer{


    
    
    position: absolute;
    top: 100vh;
    left: 0;
    height: 35vh;
    width: 100%;
    padding: 50px;
}
.footer-link-container{

    list-style: none;
    



}

.footer-link-container li a{
    
    
    text-decoration: none;
}

.btn{
    height: 100%;
    width: 20%;
}

.btn:hover{
    border: 1px solid #fc6d6d;
    color: white;
    background-color: rgba(0,0,0,0.2);
}

#top{
    padding: 14px;
}